<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Central de Análises</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" *ngIf="hasRole('ADMIN') || hasRole('RECEPCIONISTA')" >
          <a class="nav-link" href="#" routerLink="amostra">Amostras</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#" routerLink="equipamento">Equipamentos</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')" >
          <a class="nav-link" href="#" routerLink="modelo">Modelos</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN') || hasRole('RECEPCIONISTA') 
         || hasRole('SOLICITANTE') || hasRole('TECNICO') ">
          <a class="nav-link" href="#" routerLink="formulario">Formulários</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#"  routerLink="instituicao">Instituições</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#" routerLink="permissao">Permissões</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#" routerLink="preco">Preços</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#" routerLink="nota">Notas</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" href="#" routerLink="resultado">Resultados</a>
        </li>

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <a href="#" class="btn btn-outline-success" (click)=loginService.logout()><i class="fa fa-sign-in"></i>Sair</a>
      </form>
    </div>
  </nav>
</header>
