<header class="fixed">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button pButton type="button" class="ui-button-danger mr-2" (click)="slideMenu = true" icon="pi pi-list"></button>

    <a class="navbar-brand" href="#">Central de Análises</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-danger ml-3" (click)=loginService.logout()>Sair
          <a class="fa ml-2 fa-sign-out"></a>
        </button>
      </form>
    </div>
  </nav>
</header>

<p-sidebar [(visible)]="slideMenu"
           [modal]="false"
           [dismissible]="true"
           styleClass="rounded ui-sidebar">
  <div *ngIf="hasRole('ADMIN')">
    <p-panelMenu styleClass="mt-4" [transitionOptions]="'0ms'" [model]="items"    [style]="{'width':'100%'}"></p-panelMenu>
  </div>

  <div *ngIf="hasRole('RECEPCIONISTA')">
    <p-panelMenu styleClass="mt-4" [transitionOptions]="'0ms'" [model]="itemR"    [style]="{'width':'100%'}"></p-panelMenu>
  </div>

  <div *ngIf="hasRole('TECNICO')">
    <p-panelMenu styleClass="mt-4" [transitionOptions]="'0ms'" [model]="itemT"    [style]="{'width':'100%'}"></p-panelMenu>
  </div>

  <div *ngIf="hasRole('SOLICITANTE')">
    <p-panelMenu styleClass="mt-4" [transitionOptions]="'0ms'" [model]="itemSO"    [style]="{'width':'100%'}"></p-panelMenu>
  </div>
</p-sidebar>
