<div class="container">
  <h1 class="d-flex">Cadastro de Modelos</h1>
  <button class="btn btn-primary mb-5" (click)="newEntity()"> Novo</button>

  <p-table #dt [value]="modelos" >
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Metodologia</th>
        <th>Resultado</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-modelo>
      <tr>
        <th>{{modelo.id}}</th>
        <th>{{modelo.nome}}</th>
        <th>{{modelo.metodologia}}</th>
        <th>{{modelo.resultado}}</th>
        <th>
          <button type="button" class="btn btn-dark" (click)="edit(modelo)"><i class="fa fa-edit"></i></button>
          <button type="button" class="ml-2 btn btn-danger" (click)="delete(modelo)"><i class="fa fa-trash"></i>
          </button>
        </th>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
  <p-growl [(value)]="msgs"></p-growl>

  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="1000">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="modeloEdit.nome">
          <label for="metodologia">Metodologia</label>
          <input type="text" id="metodologia" name="metodologia" class="form-control" [(ngModel)]="modeloEdit.metodologia">
          <label for="resultado">Resultado</label>
          <input type="text" id="resultado" name="resultado" class="form-control" [(ngModel)]="modeloEdit.resultado">
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
