<div class="container">
  <h1 class="d-flex">Cadastro de Modelos</h1>
  <button class="btn btn-primary mb-5" (click)="newEntity()"> Novo</button>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="modeloEdit.nome">
        <label for="metodologia">Metodologia</label>
        <input type="text" id="metodologia" name="metodologia" class="form-control" [(ngModel)]="modeloEdit.metodologia">
        <label for="resultado">Resultado</label>
        <input type="text" id="resultado" name="resultado" class="form-control" [(ngModel)]="modeloEdit.resultado">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
  <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
</div>
