<div class="container-fluid">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">CADASTRO DE PRECOS</h3>
  <button class="btn btn-primary" (click)="newEntity()">Novo</button>
  <p-table #dt [value]="precos" [rows]="5"
           [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>CNPJ</th>
        <th>Nome Fantasia</th>
        <th>Razão Social</th>
        <th>Equipamento</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-preco>
      <tr>
        <td>{{preco.id}}</td>
        <td>{{preco.tipo_pessoa}}</td>
        <td>{{preco.un_medida}}</td>
        <td>{{preco.valor}}</td>
        <td>{{preco.equipamento.nome}}</td>
        <td class="acoes">
          <button type="button" class="btn btn-dark" (click)="edit(preco)">
            <i class="fa fa-edit"></i>
          </button>

          <button type="button" class="btn btn-danger" (click)="delete(preco)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>

<p-growl [(value)]="msgs"></p-growl>

<p-dialog header="CADASTRO DE PRECOS" [(visible)]="showDialog" modal="modal"
          [responsive]="true" [width]="500">
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-g-12 ui-fluid">
        <label for="tipo_pesssoa">Tipo de Pessoa</label>
        <input type="text" id="tipo_pessoa" name="tipo_pessoa" class="form-control" required
               [(ngModel)]="precoEdit.tipo_pessoa">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="un_medida">Unidade de Medida</label>
        <input type="text" id="un_medida" name="un_medida" class="form-control" required
               [(ngModel)]="precoEdit.un_medida">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="valor">Valor</label>
        <input type="text" ng-model="valor" id="valor" class="form-control" required
               [(ngModel)]="precoEdit.valor">
      </div>
    </div>

    <div>
      <div class="ui-g-12 ui-fluid">
        <label for="equipamento">Equipamento</label>
        <p-dropdown [style]="{'width':'100%'}" [options]="equipamento" [(ngModel)]="precoEdit.genero" optionLabel="nome"></p-dropdown>
      </div>
    </div>
  </div>

  <p-footer>
    <button type="button"  class="btn btn-default" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
  </p-footer>
</p-dialog>
