<!--TABELA DE FORMULÁRIOS-->
<div class="forms-table">
  <p-table [value]="formularios">
    <ng-template pTemplate="header">
      <tr>
        <th>Usuário</th>
        <th>Modelo</th>
        <th>Natureza Operação</th>
        <th>Ensaios</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Opções</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-formulario>
      <tr>
        <td>{{ formulario.usuario.nome }}</td>
        <td>{{ formulario.modelo.nome }}</td>
        <td>{{ formulario.naturezaOperacao }}</td>
        <td>{{ formulario.quantidadeEnsaios }}</td>
        <td>{{ formulario.valorTotal }}</td>
        <td>{{ formulario.status }}</td>
        <td class="text-center">
          <p-button
            class="mx-1"
            icon="pi pi-list"
            pTooltip="Validar formulário"
          ></p-button>

          <p-button
            class="mx-1"
            icon="pi pi-user"
            pTooltip="Validar usuário"
            (onClick)="showUserDialog(formulario.usuario)"
          ></p-button>

          <p-button
            class="mx-1"
            icon="pi pi-tag"
            pTooltip="Vincular amostra"
            (click)="showDialogAmostra(formulario)"
          ></p-button>

          <p-button
            class="mx-1"
            icon="pi pi-times"
            pTooltip="Cancelar formulário"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--DIALOG VALIDAR USUÁRIO-->
<p-dialog
  modal="modal"
  [width]="500"
  [responsive]="true"
  [(visible)]="userDialog"
  header="Validar Cadastro de Usuário"
  [closable]="false"
>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="form-group">
        <label>Nome</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.nome" readonly>
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.email" readonly>
      </div>

      <div class="form-group">
        <label>CPF/CNPJ</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.cpfCnpj" readonly>
      </div>

      <div class="form-group">
        <label>RG</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.rg" readonly>
      </div>

      <div class="form-group">
        <label>Celular</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.celular" readonly>
      </div>

      <div class="form-group">
        <label>Telefone</label>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.telefone" readonly>
      </div>

      <div class="form-group">
        <label>Tipo</label>
        <p-dropdown [options]="tipoPessoa" [(ngModel)]="usuarioEdit.tipoPessoa" placeholder="Selecione o Tipo"
                    optionLabel="value" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
      </div>

      <div class="form-group">
        <label>Instituição</label>
        <p-dropdown [options]="instituicoes" [(ngModel)]="usuarioEdit.instituicao" placeholder="Selecione a instituição"
                    optionLabel="nomeFantasia" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
      </div>

      <div class="form-group">
        <label>Departamento</label><br>
        <input class="form-control" type="text" pInputText [value]="usuarioEdit.departamento">
      </div>

      <div class="form-group">
        <label>Orientador</label>
        <p-dropdown [options]="orientadores" [(ngModel)]="usuarioEdit.orientador" placeholder="Selecione o orientador"
                    optionLabel="nome" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
      </div>

      <p-footer>
        <button type="button"  class="btn btn-default mr-1" (click)="closeUserDialog()">Cancelar</button>
        <button type="button" class="btn btn-danger mr-1" (click)="saveUser(false)">Recusar Cadastro</button>
        <button type="button" class="btn btn-success" (click)="saveUser(true)">Aceitar Cadastro</button>
      </p-footer>
    </div>
  </div>
</p-dialog>

<!--DIALOG VINCULAR AMOSTRA-->
<p-dialog
  modal="modal"
  [width]="500"
  [responsive]="true"
  [(visible)]="amostraDialog"
  header="Vincular amostra ao formulário"
  [closable]="false"
>
  <div class="ui-g">
    <div class="ui-g-12" *ngIf="formEdit.usuario">
      <div class="form-group">
        <label>Amostras de {{ formEdit.usuario.nome }}</label>
        <p-dropdown [options]="filteredAmostras" [(ngModel)]="formEdit.amostra" placeholder="Amostras disponíveis"
                    optionLabel="descricao" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
      </div>

      <div *ngIf="formEdit.amostra && formEdit.amostra.id">
        <div class="form-group">
          <label>Recebida em</label>
          <input class="form-control" type="text" pInputText [value]="formEdit.amostra.dataRecebimento" readonly>
        </div>

        <p-footer>
          <button type="button"  class="btn btn-default mr-1" (click)="closeDialogAmostra()">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="saveAmostra()">Vincular</button>
        </p-footer>
      </div>
    </div>
  </div>
</p-dialog>

<!--ALERT-->
<p-growl [(value)]="msgs"></p-growl>
