<div class="container-fluid pt-5" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">RESULTADOS DAS ANÁLISES</h3>
  <button class="btn btn-primary m-3" (click)="newEntity()">INSERIR</button>
  <p-table #dt [value]="resultados" [paginator]="true" [rows]="5"
           [rowsPerPageOptions]="[5,10,20]"
           [lazy]="true" [totalRecords]="totalRecords"
           (onLazyLoad)="lazyLoad($event)">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Solicitante</th>
        <th class="text-center">Data Alteração</th>
        <th class="text-center">Arquivos</th>
        <th class="text-center">Formulário</th>
        <th class="text-center">Laudo</th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resultado>
      <tr>
        <td class="text-center">{{resultado.usuario.nome}}</td>
        <td class="text-center">{{resultado.today}}</td>
        <td class="text-center">
          <div>{{resultado.arquivo ? resultado.arquivo.fileName : 'Não possui arquivo' }}</div>
          <div>
            <button *ngIf="resultado.arquivo"
                    (click)="fazerDownload(resultado.arquivo.id, resultado.arquivo.contentType, resultado.arquivo.fileName)">
              Baixar
            </button>
          </div>
        </td>
        <td class="text-center">{{resultado.formulario.id}}</td>
        <td class="text-center">
          <div>
            <button type="button" class="btn btn-dark m-2" (click)="visualizarLaudo(resultado)">Visualizar</button>
          </div>
        </td>
        <td class="text-center">
          <button type="button" class="btn btn-dark m-2" (click)="edit(resultado)">
            <i class="fa fa-edit"></i>
          </button>

          <button type="button" class="btn btn-danger m-2" (click)="delete(resultado)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>


<p-dialog modal="modal"
          [width]="900"
          header="INSERÇÂO DE RESULTADOS"
          [responsive]="true"
          [(visible)]="showDialog"
          [style]="{'min-height': '900px'}"
>
  <p-tabView>
    <p-tabPanel header="Dados">
      <div class="row">
        <div class="ui-g-12 ui-fluid">

          <div class="ui-g-12 ui-fluid">
            <label for="usuario">Solititante</label>
            <p-dropdown id="usuario" name="usuario" [style]="{'width':'100%'}" [options]="usuarios"
                        [(ngModel)]="resultadoEdit.usuario" optionLabel="nome"></p-dropdown>
          </div>
          <br>
          <div class="ui-g-12 ui-fluid">
            <label for="today">Data</label>
            <textarea pInputTextarea id="today" name="today" class="form-control"
                      [(ngModel)]="today" [(ngModel)]="resultadoEdit.today"></textarea>
          </div>

          <div class="ui-g-12 ui-fluid">
            <label for="formulario">Formulário</label>
            <p-dropdown id="formulario" name="formulario" [style]="{'width':'100%'}"
                        [options]="formularios" [(ngModel)]="resultadoEdit.formulario" optionLabel="id"></p-dropdown>
          </div>

            <label for="laudo-editor">Laudo</label>
            <br>
            <ckeditor
              [data]="resultadoEdit.laudo"
              [editor]="editor"
              [(ngModel)]="resultadoEdit.laudo"
              id="laudo-editor"
              name="laudo-editor">
            </ckeditor>

        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Arquivos" *ngIf="resultadoEdit.id">
      <div class="row">
        <div class="ui-g-12 ui-fluid">
          <label for="arquivo">Arquivo</label>
          <p-fileUpload id="arquivo" chooseLabel="Selecionar..." cancelLabel="Cancelar" name="arquivo"
                        url="{{urlApi}}/resultado/upload/{{resultadoEdit.id}}"
                        (onUpload)="onUpload($event)">
            <ng-template pTemplate="content">
              <ul>
                <li *ngFor="let file of uploadedFiles">
                  {{file.name}} - {{file.size}} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
  <p-footer>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
  </p-footer>
</p-dialog>


<p-dialog modal="modal" [width]="900" header="Laudo" [responsive]="true"
          [(visible)]="visualizaLaudo" [style]="{'min-height': '600px'}">
  <p-tabView>
    <p-tabPanel header="Laudo">
      <div class="row">
        <div class="ui-g-12 ui-fluid">

            <br>
            <ckeditor
              [data]="resultadoEdit.laudo"
              [editor]="editor"
              [(ngModel)]="resultadoEdit.laudo"
              id="laudo-visualizar"
              name="laudo-visualizar">
            </ckeditor>

        </div>
      </div>
    </p-tabPanel>

     </p-tabView>

</p-dialog>
