<div class="container-fluid pt-5">
  <div class="ui-g">
    <div class="ui-g-12 pt-3">
      <h5 class="d-flex mt-5 mb-4">Formulário Central de Análises</h5>
      <button
        class="btn btn-primary mb-2"
        (click)="showDialogFormulario(null)"
      >
        Criar Formulário
      </button>
    </div>

    <!-- TABELA DE FORMULÁRIOS -->
    <div class="ui-g-12">
      <p-table [value]="formularios">
        <ng-template pTemplate="header">
          <tr>
            <th>Usuário</th>
            <th>Modelo</th>
            <th>Natureza Operação</th>
            <th>Ensaios</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Opções</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-formulario>
          <tr>
            <td>{{ formulario.usuario.nome }}</td>
            <td>{{ formulario.modelo.nome }}</td>
            <td>{{ formulario.naturezaOperacao }}</td>
            <td>{{ formulario.quantidadeEnsaios }}</td>
            <td>{{ formulario.valorTotal }}</td>
            <td>{{ formulario.status }}</td>
            <td class="text-center">
              <p-button
                class="mx-1"
                icon="pi pi-list"
                pTooltip="Editar formulário"
                (click)="showDialogFormulario(formulario)"
              ></p-button>

              <p-button
                *ngIf="isAdmin()"
                class="mx-1"
                icon="pi pi-user"
                pTooltip="Validar usuário"
                (click)="showDialogUsuario(formulario.usuario)"
              ></p-button>

              <p-button
                *ngIf="isAdmin()"
                class="mx-1"
                icon="pi pi-tag"
                pTooltip="Vincular amostra"
                (click)="showDialogAmostra(formulario)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-growl [(value)]="msgs"></p-growl>
<!-- DIALOG FORMULÁRIO -->
<p-dialog
  modal="modal"
  [width]="900"
  header="Formulário"
  [responsive]="true"
  [(visible)]="dialogFormulario"
  [style]="{'min-height': '600px'}"
>
  <div class="col-sm-12">
    <div class="form-group" *ngIf="isAdmin()">
      <label>Status</label><br>
      <p-dropdown
        optionLabel="text"
        [options]="formStatusItems"
        [style]="{'width': '100%'}"
        [(ngModel)]="formStatus"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Usuário</label><br>
      <p-dropdown
        optionLabel="nome"
        [options]="usuarios"
        [style]="{'width': '100%'}"
        [(ngModel)]="formularioEdit.usuario"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Nome</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.nome"
      >
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.email"
      >
    </div>

    <div class="form-group">
      <label>Tipo Pessoa</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.tipoPessoa"
      >
    </div>

    <div
      class="form-group"
      *ngIf="formularioEdit.usuario.instituicao && formularioEdit.usuario.instituicao.id"
    >
      <label>Instituição</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.instituicao.nomeFantasia"
      >
    </div>

    <div class="form-group" *ngIf="formularioEdit.usuario.departamento">
      <label>Departamento</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.departamento"
      >
    </div>

    <div class="form-group" *ngIf="formularioEdit.usuario.orientador">
      <label>Orientador</label>
      <input
        readonly
        class="form-control"
        [(ngModel)]="formularioEdit.usuario.orientador"
      >
    </div>

    <div class="form-group">
      <label>Natureza do Projeto</label><br>
      <p-dropdown
        optionLabel="text"
        [options]="naturezaProjetoItems"
        [style]="{'width': '100%'}"
        [(ngModel)]="naturezaProjeto"
      ></p-dropdown>
    </div>

    <div class="form-group" *ngIf="naturezaProjeto.value === 'Outro'">
      <label>Descrição da Natureza do Projeto</label>
      <input
        class="form-control"
        [(ngModel)]="formularioEdit.naturezaOperacao"
      >
    </div>

    <div class="form-group">
      <label>Equipamento</label><br>
      <p-dropdown
        optionLabel="nome"
        [options]="equipamentos"
        [style]="{'width': '100%'}"
        [(ngModel)]="selectedEquipamento"
        (onChange)="setFormModelo()"
        class="mb-3"
      ></p-dropdown>
      <ckeditor
        [editor]="editor"
        [(ngModel)]="formularioEdit.modelo.metodologia"
        class="w-100"
        id="metodologia-editor"
        name="metodologia-editor">
      </ckeditor>
    </div>

    <div class="row mt-3 mb-3">
      <button
        type="button"
        class="btn btn-danger ml-2"
        (click)="closeDialogFormulario()"
      >
        Fechar
      </button>
      <button
        type="button"
        class="btn btn-success ml-2"
        (click)="saveFormulario()"
        [disabled]="!isAdmin() && formularioEdit.id && formularioEdit.status !== 'P'"
      >
        Salvar
      </button>
    </div>
  </div>
</p-dialog>

<!--DIALOG USUÁRIO-->
<p-dialog
  modal="modal"
  [width]="900"
  header="Usuário"
  [responsive]="true"
  [(visible)]="dialogUsuario"
  [style]="{'min-height': '600px'}"
>
  <div class="col-sm-12">
    <div class="form-group">
      <label>Nome</label>
      <input class="form-control" readonly [value]="usuarioEdit.nome">
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" readonly [value]="usuarioEdit.email">
    </div>

    <div class="form-group">
      <label>CPF</label>
      <input class="form-control" readonly [value]="usuarioEdit.cpfCnpj">
    </div>

    <div class="form-group">
      <label>RG</label>
      <input class="form-control" readonly [value]="usuarioEdit.rg">
    </div>

    <div class="form-group">
      <label>Celular</label>
      <input class="form-control" readonly [value]="usuarioEdit.celular">
    </div>

    <div class="form-group">
      <label>Telefone</label>
      <input class="form-control" readonly [value]="usuarioEdit.telefone">
    </div>

    <div class="form-group">
      <label>Tipo</label><br>
      <p-dropdown
        optionLabel="text"
        [options]="tiposPessoa"
        [style]="{'width': '100%'}"
        [(ngModel)]="usuarioEdit.tipoPessoa"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Instituição</label><br>
      <p-dropdown
        optionLabel="nomeFantasia"
        [options]="instiuicoes"
        [style]="{'width': '100%'}"
        [(ngModel)]="usuarioEdit.instituicao"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Orientador</label><br>
      <p-dropdown
        optionLabel="nome"
        [options]="orientadores"
        [style]="{'width': '100%'}"
        [(ngModel)]="usuarioEdit.orientador"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label>Departamento</label>
      <input class="form-control" [(ngModel)]="usuarioEdit.departamento">
    </div>

    <div class="form-group">
      <label>Status</label><br>
      <p-dropdown
        optionLabel="text"
        [options]="situacoesCadastro"
        [style]="{'width': '100%'}"
        [(ngModel)]="selectedUserStatus"
      ></p-dropdown>
    </div>

    <div class="row mt-3 mb-3">
      <button
        type="button"
        class="btn btn-danger ml-2"
        (click)="closeDialogUsuario()"
      >
        Fechar
      </button>
      <button
        type="button"
        class="btn btn-success ml-2"
        (click)="saveUsuario()"
      >
        Salvar
      </button>
    </div>
  </div>
</p-dialog>

<!--DIALOG VINCULAR AMOSTRA-->
<p-dialog
  modal="modal"
  [width]="900"
  header="Víncular Amostra"
  [responsive]="true"
  [(visible)]="dialogAmostra"
  [style]="{'min-height': '600px'}"
>
  <div class="col-sm-12">
    <div class="form-group">
      <label>Amostra</label><br>
      <p-dropdown
        optionLabel="descricao"
        [options]="amostrasUsuario"
        [style]="{'width': '100%'}"
        [(ngModel)]="formularioEdit.amostra"
      ></p-dropdown>
    </div>

    <div class="form-group" *ngIf="formularioEdit.amostra">
      <label>Recebida em</label>
      <input class="form-control" readonly [value]="formularioEdit.amostra.dataRecebimento">
    </div>

    <div class="row mt-3 mb-3">
      <button
        type="button"
        class="btn btn-danger ml-2"
        (click)="closeDialogAmostra()"
      >
        Fechar
      </button>
      <button
        type="button"
        class="btn btn-success ml-2"
        (click)="saveAmostra()"
      >
        Salvar
      </button>
    </div>
  </div>
</p-dialog>
