<div class="container">
  <h1 class="d-flex">Cadastro de Pessoa</h1>
  <button class="btn btn-primary" (click)="newEntity()">Novo</button>

  <p-table #dt [value]="pessoas" [paginator]="true" [rows]="6"
           [rowsPerPageOptions]="[5,10,20]"
           [lazy]="true" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Email</th>
        <th>Nome</th>
        <th>Cpf</th>
        <th>Rg</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Tipo de pessoa</th>
        <th>Dep</th>
        <th>Instituição</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{pessoa.id}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.cpf}}</td>
        <td>{{pessoa.rg}}</td>
        <td>{{pessoa.telefone}}</td>
        <td>{{pessoa.celular}}</td>
        <td>{{pessoa.tipoPessoa}}</td>
        <td>{{pessoa.departamento}}</td>
        <td>{{pessoa.status}}</td>
        <td>{{pessoa.usuario.id}}</td>
        <td>{{pessoa.instituicao.nomeFantasia}}</td>
        <td>
          <button type="button" class="btn btn-dark" (click)="edit(pessoa)">
            <i class="fa fa-edit"></i></button>

          <button type="button" class="btn btn-danger" (click)="delete(pessoa)">
            <i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
  <p-growl [(value)]="msgs"></p-growl>

  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="500">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="pessoaEdit.nome">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="cpf">Cpf</label>
          <input type="text" id="cpf" name="cpf" class="form-control" [(ngModel)]="pessoaEdit.cpf">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="rg">Rg</label>
          <input type="text" id="rg" name="rg" class="form-control" [(ngModel)]="pessoaEdit.rg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" name="telefone" class="form-control" [(ngModel)]="pessoaEdit.telefone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" id="celular" name="celular" class="form-control" [(ngModel)]="pessoaEdit.celular">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="tipoPessoa">Tipo de Pessoa</label>
          <p-dropdown id="tipoPessoa" [options]="tipoPessoa1"
                      [(ngModel)]="tipoPessoa"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="departamento">Departamento</label>
          <input type="text" id="departamento" name="departamento" class="form-control" [(ngModel)]="pessoaEdit.departamento">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label form="instituicoes">Instituição</label>
        <div class="form-group">
          <p-dropdown [options]="instituicoes" optionLabel="nomeFantasia"
                      [(ngModel)]="pessoaEdit.instituicao"></p-dropdown>
        </div>
      </div>
    </div>
<!--    class="row" * ngIf = " show "-->
    <div class="row">
      <div class="col-sm-12">
        <label form="pessoa">Pessoa</label>
        <div class="form-group">
          <p-dropdown [options]="pessoas" optionLabel="nome"
                      [(ngModel)]="pessoaEdit.nome"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="status">Status</label>
            <p-dropdown id="status" [options]="status1"
                        [(ngModel)]="status"></p-dropdown>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label form="usuarios">Usuário</label>
          <p-dropdown [options]="usuarios" optionLabel="usuario"
                      [(ngModel)]="pessoaEdit.usuario"></p-dropdown>
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>
</div>
