<div class="container py-5">
  <button class="btn btn-primary" (click)="showDialogValidateUser(1)">Novo</button>

  <div class="ui-g">
    <div class="ui-g-12">
      <h1 class="d-flex">Formulários</h1>
      <button class="btn btn-primary">Novo</button>
    </div>

    <div class="ui-g-12">
<!--      <p-table [value]="formularios">-->
<!--        <ng-template pTemplate="header">-->
<!--          <tr>-->
<!--            <th class="text-center">Status</th>-->
<!--            <th class="text-center">Emitido em</th>-->
<!--            <th class="text-center">Met. Amostra</th>-->
<!--            <th class="text-center">Met. Analítica</th>-->
<!--            <th class="text-center">Departamento</th>-->
<!--            <th class="text-center">Ações</th>-->
<!--          </tr>-->
<!--        </ng-template>-->

<!--        <ng-template pTemplate="body" let-form>-->
<!--          <tr>-->
<!--            <td class="text-center">{{form.status}}</td>-->
<!--            <td class="text-center">{{formatDate(form.dataEmissao)}}</td>-->
<!--            <td class="text-center">{{form.metodologiaAmostra}}</td>-->
<!--            <td class="text-center">{{form.metodologiaAnalitica}}</td>-->
<!--            <td class="text-center">{{form.departamento}}</td>-->
<!--            <td class="text-center">-->
<!--              <button-->
<!--                type="button"-->
<!--                class="btn btn-outline-info btn-sm"-->
<!--                (click)="showDialogInfo(form)"-->
<!--              >-->
<!--                Detalhes-->
<!--              </button>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->
    </div>
  </div>
</div>
